<div class="field">
  @if (label) {
    <label [for]="id" class="field-label">
      {{ label }}
      @if (required) {
        <span class="required-marker">*</span>
      }
    </label>
  }

  <p-password
    [formControl]="formControl"
    [id]="id"
    [(ngModel)]="value"
    (ngModelChange)="onInput($event)"
    (blur)="onTouched()"
    [placeholder]="placeholder"
    [feedback]="feedback"
    [promptLabel]="promptLabel"
    [weakLabel]="weakLabel"
    [mediumLabel]="mediumLabel"
    [strongLabel]="strongLabel"
    [variant]="variant"
    fluid="true"
    [class.ng-invalid]="invalid && errorMessage"
    [required]="required"
    [autocomplete]="autocomplete"
  >
  </p-password>

  @if (invalid && errorMessage) {
    <small class="p-error">{{ errorMessage }}</small>
  }
</div>
