<div class="login-page">
  <h1>{{ 'AUTH.LOGIN_TITLE' | translate }}</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <app-input
      [formControl]="controls.email"
      formControlName="email"
      [placeholder]="'AUTH.EMAIL' | translate"
      type="email"
      autocomplete="email"
      [errorMessage]="getErrorMessage(controls.email)"
      [invalid]="controls.email.invalid && controls.email.touched"
      autocomplete="email"
    >
    </app-input>

    <app-password-input
      [formControl]="controls.password"
      formControlName="password"
      [placeholder]="'AUTH.PASSWORD' | translate"
      autocomplete="current-password"
      [errorMessage]="getErrorMessage(controls.password)"
      [invalid]="controls.password.invalid && controls.password.touched"
      autocomplete="current-password"
    >
    </app-password-input>

    <div class="submit-button">
      <app-button
        type="submit"
        [disabled]="loginForm.invalid || isLoading"
        severity="primary"
        [label]="'AUTH.LOGIN_BUTTON' | translate"
      >
      </app-button>
    </div>

    <p class="text-center">
      {{ 'AUTH.FORGOT_PASSWORD_TEXT' | translate }}
      <a routerLink="/{{ RouterEnum.forgetPassword }}">{{ 'AUTH.RECOVER_PASSWORD' | translate }}</a>
    </p>

    <p class="text-center">
      {{ 'AUTH.NO_ACCOUNT_TEXT' | translate }}
      <a routerLink="/{{ RouterEnum.register }}">{{ 'AUTH.REGISTER' | translate }}</a>
    </p>
  </form>
</div>
