<div>
  @if (label) {
    <label [class.required]="required" [for]="id" class="ml-2">
      {{ label }}
      @if (required) {
        <span class="required-marker">*</span>
      }
    </label>
  }

  @if (iconOff && iconOn) {
    <p-toggleswitch
      [formControl]="formControl"
      [class]="invalid ? styleClass + 'ng-dirty ng-invalid' : styleClass"
    >
      <ng-template pTemplate="handle" let-checked="checked">
        <i [ngClass]="['!text-xs', 'pi', checked ? iconOn : iconOff]"></i>
      </ng-template>
    </p-toggleswitch>
  } @else {
    <p-toggleSwitch
      [formControl]="formControl"
      [class]="invalid ? styleClass + 'ng-dirty ng-invalid' : styleClass"
    >
    </p-toggleSwitch>
  }

  @if (invalid && errorMessage && touched) {
    <small class="p-error">{{ errorMessage }}</small>
  }
</div>
