@import 'primeicons/primeicons.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './utils/variables';
@import './utils/extends';
@import './utils/mixins';
@import './utils/primeng-reset';

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: $font-family-base;
  transition:
    background-color $global-transition-speed,
    color $global-transition-speed;
}
