<div class="field">
  @if (label) {
    <label [for]="id" [class.required]="required">{{ label }}</label>
  }

  <p-inputgroup>
    @if (prefixIcon || prefixText) {
      <p-inputgroup-addon>
        @if (prefixIcon) {
          <i class="pi pi-{{ prefixIcon }}"></i>
        }
        @if (prefixText) {
          {{ prefixText }}
        }
      </p-inputgroup-addon>
    }
    @if (type === 'number') {
      <p-inputnumber
        [id]="id"
        [placeholder]="placeholder"
        [required]="required"
        [(ngModel)]="value"
        (ngModelChange)="onInput($event)"
        (onBlur)="onTouched()"
        [useGrouping]="false"
        [formControl]="formControl"
        [class.ng-invalid]="invalid && errorMessage"
        [autocomplete]="autocomplete"
      />
    } @else {
      <input
        [id]="id"
        pInputText
        [type]="type"
        [placeholder]="placeholder"
        [required]="required"
        [ngModel]="value"
        (ngModelChange)="onInput($event)"
        (blur)="onTouched()"
        [formControl]="formControl"
        [class.ng-invalid]="invalid && errorMessage"
        [autocomplete]="autocomplete"
      />
    }
    @if (suffixIcon || suffixText) {
      <p-inputgroup-addon>
        @if (suffixIcon) {
          <i class="pi pi-{{ suffixIcon }}"></i>
        }
        @if (suffixText) {
          {{ suffixText }}
        }
      </p-inputgroup-addon>
    }
  </p-inputgroup>

  @if (invalid && errorMessage) {
    <small class="p-error">{{ errorMessage }}</small>
  }
</div>
